In [497]:
#Import required libraries 
import pandas as pd 
import numpy as np
from sklearn.preprocessing import normalize
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score 

#Neural network module
from keras.models import Sequential 
from keras.layers import Dense,Activation,Dropout 
from keras.utils import np_utils

In [498]:
data= pd.read_csv('/content/Iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [499]:
print(data["Species"].unique())

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [500]:
data.loc[data["Species"]=="Iris-setosa","Species"]=0
data.loc[data["Species"]=="Iris-versicolor","Species"]=1
data.loc[data["Species"]=="Iris-virginica","Species"]=2

In [501]:
X=data.iloc[:,1:5].values #feature
y=data.iloc[:,5].values #label
X_new=normalize(X,axis=0)

In [502]:
X_train, X_test,y_train, y_test = train_test_split(X_new,y, test_size=0.2)

In [503]:
y_train=np_utils.to_categorical(y_train,num_classes=3)
y_test=np_utils.to_categorical(y_test,num_classes=3)

In [504]:
model=Sequential()
model.add(Dense(1000,input_dim=4,activation='relu'))
model.add(Dense(500,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(3,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='adam')

In [505]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),batch_size=20,epochs=10,verbose=1)

Epoch 1/10
6/6 [==============================] - 1s 46ms/step - loss: 1.0815 - val_loss: 1.0601
Epoch 2/10
6/6 [==============================] - 0s 17ms/step - loss: 1.0353 - val_loss: 0.9935
Epoch 3/10
6/6 [==============================] - 0s 15ms/step - loss: 0.9670 - val_loss: 0.9154
Epoch 4/10
6/6 [==============================] - 0s 15ms/step - loss: 0.8733 - val_loss: 0.7899
Epoch 5/10
6/6 [==============================] - 0s 19ms/step - loss: 0.7603 - val_loss: 0.6543
Epoch 6/10
6/6 [==============================] - 0s 14ms/step - loss: 0.6455 - val_loss: 0.5090
Epoch 7/10
6/6 [==============================] - 0s 18ms/step - loss: 0.5464 - val_loss: 0.4282
Epoch 8/10
6/6 [==============================] - 0s 14ms/step - loss: 0.4644 - val_loss: 0.3964
Epoch 9/10
6/6 [==============================] - 0s 15ms/step - loss: 0.4055 - val_loss: 0.3468
Epoch 10/10
6/6 [==============================] - 0s 14ms/step - loss: 0.3522 - val_loss: 0.2665

In [506]:
prediction=model.predict(X_test)
y_label=np.argmax(y_test,axis=1)
y_pred=np.argmax(prediction,axis=1)
accuracy=accuracy_score(y_label, y_pred)   
print("Accuracy score (in a range of 0 to 1), for this dataset is: ",accuracy )

Accuracy score (in a range of 0 to 1), for this dataset is:  1.0